.cart-button {
  background-color: #359A2C;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.cart-bubble {
  position: relative;
  left: 12px;
  top: 20px;
}

.bubble-alert {
  background-color: #E9725A;
  border-radius: 15px;
  color: #fff;
  padding: 2px 10px;
  font-size: 0.9rem;
  width: 20px;
}