.product-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.product {
  float: left;
  margin-left: 20px;
  box-shadow: 0 2px 3px rgb(0,0,0,0.1);
}

.product-image {
  width: 100%;
  max-width: 200px;
  min-height: 200px;
}